.git
.gitignore
.env
.env.*
.artifacts
.cache
.tmp
tmp
.superpowers
.turbo
tests
coverage
dist
build
results
test-results
playwright-report
node_modules
**/dist
**/build
**/node_modules
**/test-results
**/playwright-report
**/.DS_Store
