DEFAULT_ADMIN_API_KEY=replace-me
LIVE_TEST_PROVIDER_API_KEY=replace-me
LIVE_TEST_GITHUB_TOKEN=replace-me
POSTGRES_DB=agirunner
POSTGRES_USER=agirunner
POSTGRES_PASSWORD=agirunner
POSTGRES_PORT=5432
PLATFORM_API_PORT=8080
